header{
    background-color: #512884 ;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    top:0;
}

header img{
    margin:0 1px 0 10px;
    float: left;
    width: 30px;
    height: 30px;
}

header .text-logo{
    
    // float: left;
    margin: -4px 45px 0px 10px;
    color: #ddd;
    font-size: 15pt;
    font-weight: 300;
    text-decoration: none;
}

header .link{
    display:flex;
    align-items: center;
    justify-content: center;
    /* padding: 0px 10px 0px 10px; */
    height:50px;
    float: left;
    min-width:70px;
    color: #ddd;
    font-weight: 400;
    font-size: 9pt;
}

.active{
    background-color: rgba(0,0,0,0.2);
    color:#fff!important;
}

@media screen and (max-width: 500px) {

    .link{
      display:none!important;
    }
}