<!-- user information -->
<info-header *ngIf="user" [user]="user"></info-header>

<!-- page title -->
<h2 class="title">{{showPhotos ? 'Albums / #' + selectedAlbum : 'Albums' }}</h2>

<!-- albums container -->
<div ngClass="{{ showPhotos ? 'album-container row hidden' : 'album-container row visible' }}">
    <album *ngFor="let album of albums" [album]='album' [onClick]="onAlbumClicked"></album>
</div>

<!-- photos container -->
<div *ngIf="photos" class='photo-container row'>
    <photo *ngFor=" let photo of photos " [photo]='photo'></photo>
</div>