@import '~variables.scss';

.album{
    width: 200px;
    height:200px;
    background-color: #fff;
    border-radius: 10px;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding:20px;
    color: $text-color;
    border:solid;
    border-color: $border-color;
    border-width: 1px;
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    .square{
      width:200px;
      height:200px;
      margin:20px;
    }
}

@media screen and (max-width: 500px) {
    .square{
      width:150px;
      height:150px;
      margin:10px;
    }
}



.album:hover{
    border-color: $primary-color;
    opacity:0.6;
}